body {
    font-family: sans-serif;
}


h1 {
    text-align: center;
    margin: 2rem 0;
}

.box-empty {
    height: 50px;
}

.box-1 {
    height: 50px;
    background: #da372c;
}
.box-2 {
    height: 50px;
    background: #007445;
}
.box-3 {
    height: 50px;
    background: #f7b314;
}
.box-4 {
    height: 50px;
    background: #000c86;
}
.box-5 {
    height: 50px;
    background: black;
}

